<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- <script src="/send_url.js"></script> -->
  </head>
  <body>
    <%- include('header') %>
    <main>
      <ul class="table-body">
        <% items.forEach((item) => { %>
          <li>
            <div class="item-data">
              <span class="id-column"><%= item.id %></span>
              <span class="name-column"><%= item.name %></span>
              <form action="/delete/<%= item.id %>" method="post">
                <input type="submit" value="削除">
                <a href="edit/<%= item.id %>">編集</a>
              </form>
            </div>
          </li>
        <% }) %>
      </ul>
      
      <ul>
        <li><a href="/new" class="new-button">+ 新規作成</a></li>
      </ul>
    </main>
  </body>
</html>